<div class="container-fluid bg-skills">

  <div class="container">

    <div class="row pt-5">

      <div class="col-md-12">

        <h1 class="text-center text-white">Soft skills</h1>

      </div>

    </div>

    <div class="row d-flex justify-content-center mt-3">

      <div class="col-md-4">

        <p class="text-white text-center">Responsabilidade Pessoal</p>
        <p class="text-center"><span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span></p>

        <p class="text-white text-center">Trabalho Em Equipe</p>
        <p class="text-center"><span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span></p>

        <p class="text-white text-center">Atenção Aos Detalhes</p>
        <p class="text-center"><span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span></p>

        <p class="text-white text-center">Comunicação Não Violenta</p>
        <p class="text-center"><span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span></p>

      </div>

      <div class="col-md-4">

        <p class="text-white text-center">Proatividade</p>
        <p class="text-center"><span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span></p>

        <p class="text-white text-center">Comunicação</p>
        <p class="text-center"><span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span></p>

        <p class="text-white text-center"> Gestão De Tempo </p>
        <p class="text-center"><span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span></p>

        <p class="text-white text-center">Flexibilidade</p>
        <p class="text-center"><span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span></p>

      </div>

    </div>

    <div class="row mt-5">

      <div class="col-md-12">

        <h2 class="text-center text-white">Tecnologias</h2>

      </div>

    </div>

    <!-- Colunas com tecnologias usadas -->

    <div class="row mt-3">

      <div class="col-md-3">

        <div class="card">

          <div class="card-content">

            <div class="card-body">

              <div class="media d-flex justify-content-center">

                <i class="icons devicon-html5-plain colored"></i>

              </div>

            </div>

          </div>

        </div>

      </div>

      <div class="col-md-3">

        <div class="card">

          <div class="card-content">

            <div class="card-body">

              <div class="media d-flex justify-content-center">

                <i class="icons devicon-css3-plain colored"></i>

              </div>

            </div>

          </div>

        </div>

      </div>

      <div class="col-md-3">

        <div class="card">

          <div class="card-content">

            <div class="card-body">

              <div class="media d-flex justify-content-center">

                <i class="icons devicon-typescript-plain colored"></i>

              </div>

            </div>

          </div>

        </div>

      </div>

      <div class="col-md-3">

        <div class="card">

          <div class="card-content">

            <div class="card-body">

              <div class="media d-flex justify-content-center">


                <i class="icons devicon-javascript-plain colored"></i>


              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

    <div class="row mt-5 pb-4">

        <div class="col-md-3">
  
          <div class="card">
  
            <div class="card-content">
  
              <div class="card-body">
  
                <div class="media d-flex justify-content-center">
  
                  <i class="icons devicon-angularjs-plain colored"></i>
  
                </div>
  
              </div>
  
            </div>
  
          </div>
  
        </div>
  
        <div class="col-md-3">
  
          <div class="card">
  
            <div class="card-content">
  
              <div class="card-body">
  
                <div class="media d-flex justify-content-center">
  
                  <i class="icons devicon-mysql-plain colored"></i>
  
                </div>
  
              </div>
  
            </div>
  
          </div>
  
        </div>
  
        <div class="col-md-3">
  
          <div class="card">
  
            <div class="card-content">
  
              <div class="card-body">
  
                <div class="media d-flex justify-content-center">
  
                  <i class="icons devicon-java-plain colored"></i>
  
                </div>
  
              </div>
  
            </div>
  
          </div>
  
        </div>
  
        <div class="col-md-3">
  
          <div class="card">
  
            <div class="card-content">
  
              <div class="card-body">
  
                <div class="media d-flex justify-content-center">
  
  
                  <i class="icons devicon-spring-plain colored"></i>
  
  
                </div>
  
              </div>
  
            </div>
  
          </div>
  
        </div>
  
      </div>

  </div>
</div>
