.page-404{

    padding: 40px 0;
    background: #fff;

    min-height: 700px;
    
}

.page-404 img{

    width: 100%

}

.bg-404{

    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;

}

.bg-404 h1{

    font-size: 80px;

}

.bg-404 .h3{

    font-size: 80px;

}

.link-404{

    color: #f9f9f9 !important;
    padding: 10px 20px;
    background: rgb(5,4,145);
    margin: 20px 0;
    display: inline-block;

}

.contant-box-404{

    margin-top: -50px;

}