<nav class="navbar navbar-expand-lg navbar-light bg-menu">
    <a href="#"> <img src="" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mr-5">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/feed">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Sobre mim</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/skills">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Projetos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Contatos</a>
      </li>
    </ul>
  </div>
</nav>
